*{
	font-family: cursive;
}

.row {
  width: 100%;
}

h1{
	font-size:175%;
	text-align: center;
}

section {
	box-sizing: border-box;
	font-size:125%;
	padding: 5px;
}

div > p{
	max-width: 80px;
	border : 1px solid black;
	margin: 0px;
}

#div1{
	background-color: pink;
	float: right;

}

#div2{
	background-color: #f02f53;
	color: white;
	float: right;
}

#div3{
	background-color: #f3ec88;
	float: right;
}

.p{
	background-color: #bbbbbb;
	padding: 5px;
	border: 1px solid black;
	margin: 0px;
}

@media (min-width: 992px) {
	.col-lg-4{
		float: left;
    	//border: 1px solid black;
	}
	.col-lg-4 {
	    width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-12, .col-md-6{
		float: left;
    	//border: 1px solid black;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-6 {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.col-sm-12{
		float: left;
    	//border: 1px solid black;
	}
	.col-sm-12 {
		width: 100%;
	}
}